<section class="site-tabitha" id="tabitha">
  <div class="container">
    <div class="row">
  Bloom and Blossom is owned by Tabitha Bassett, an International Board Certified Lactation Consultant (IBCLC).  Tabitha has over a decade experience as a nursery nurse, including as a Neonatal Intensive Care Unit (NICU) nurse.  Tabitha is not just a IBCLC practitioner but has experienced the joys and challenges of breastfeeding. She has three lovely children, two breastfed and one unable to be breastfed and having spent time in a NICU due to medical issues.  With Bloom and Blossom, you will not be alone.
    </div>
  </div>
</section>